@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Cyan: hsl(180, 66%, 49%);
    --Dark-violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-violet: hsl(257, 7%, 63%);
    --Very-dark-blue: hsl(255, 11%, 22%);
    --Very-dark-violet: hsl(260, 8%, 14%);
    --margin: 2rem;
}

img {
    max-width: 100%;
    cursor: pointer;
}

button:hover {
    opacity: .5;
    transition: opacity .3s ease-in-out;
}

.hide {
    display: none !important;
}

ul li:hover {
    opacity: .5;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--margin);
}

header .left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .left ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

header .right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .right button:first-child {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--Grayish-violet);
    font-weight: 700;
    font-family: inherit;
}


header .right button:last-child {
    background-color: var(--Cyan);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: .8rem 1.8rem;
    border-radius: 25px;
    font-weight: 700;
}



header .hamburger-icon, header .close-icon {
    width: 35px;
}



.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    margin-top: 2rem;
    background-color: var(--Dark-violet);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    transition: transform .3s ease-in-out;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    transform: translateX(-200%);
    margin: 0;
    
}

.mobile-nav.show {
    transform: translateX(-50%);
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem;
    border-bottom: 1px solid var(--Grayish-violet);
    padding-bottom: 1.5rem;
    width: 100%;
}

.mobile-nav ul li {
    cursor: pointer;
}

.mobile-nav .buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.mobile-nav .buttons button:first-child {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    font-family: inherit;
}

.mobile-nav .buttons button:last-child {
    background-color: var(--Cyan);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: .8rem 1.8rem;
    border-radius: 25px;
    font-weight: 700;
}

section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin: var(--margin);
}

section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section .content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    line-height: 1.1;
}

section .content p {
    color: var(--Grayish-violet);
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.1rem;
    padding: 0 4rem;
}

section .content button {
    background-color: var(--Cyan);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: .8rem 4rem;
    border-radius: 25px;
    font-weight: 700;
    margin-top: .5rem;
}

.shorten {
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.shorten .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: right;
    background-color: var(--Dark-violet);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 5rem;
}

.shorten input {
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--Very-dark-violet);
    margin-bottom: 1rem;
    font-family: inherit;
}

.shorten input::placeholder {
    color: var(--Grayish-violet);
}

.shorten input:focus {
    outline: none;
}

.shorten input.error {
    border: 3px solid var(--Red);
}


.shorten button {
    background-color: var(--Cyan);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: .8rem 1.8rem;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 1.5rem;
}

.shorten button.copied {
    background-color: var(--Dark-violet);
    cursor: not-allowed;
}

.shorten button:hover {
    opacity: .9;
}

.shorten span.error {
    color: var(--Red);
    font-size: .8rem;
    font-weight: 700;
    margin-top: -.8rem;
}

.shorten .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.shorten .link {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.shorten .link hr {
    border: 1px solid var(--Grayish-violet);
    margin-top: 1rem;
}

.shorten .link h4 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--Very-dark-violet);
    line-height: 1.1;
    margin-top: 1rem;
}

.shorten .link .link-text {
    color: var(--Cyan);
}

.shorten .link button {
    width: 100%;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    background-color: hsl(0, 0%, 95%);
    padding: 2rem;
    text-align: center;
}



.statistics h1 {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    line-height: 1.1;
}

.statistics p {
    color: var(--Grayish-violet);
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.statistics .info-group {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;    
}

.statistics .info-group .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.statistics .info-group .info h2 {
    color: var(--Very-dark-blue);
    margin-top: 3rem;
}

.statistics .info-group .info div {
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--Dark-violet);
    border-radius: 50%;
    padding: 3rem;
    margin-top: -4rem;
}

.statistics .info-group .info:first-child div {
    background-image: url('./images/icon-brand-recognition.svg');
}

.statistics .info-group .info:nth-child(2) div {
    background-image: url('./images/icon-detailed-records.svg');
}

.statistics .info-group .info:last-child  div {
    background-image: url('./images/icon-fully-customizable.svg');
}

.statistics .info-group .info {
    position: relative;
}

.statistics .info-group .info:first-child::after {
    content: '';
    background: var(--Cyan);
    position: absolute;
    width: 10px;
    height: 65px;
    bottom: -20%;
}

.statistics .info-group .info:nth-child(2)::after {
    content: '';
    background: var(--Cyan);
    position: absolute;
    width: 10px;
    height: 65px;
    bottom: -20%;
}

.boost {
    background-image: url('./images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: right;
    background-color: var(--Dark-violet);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boost h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.boost button {
    background-color: var(--Cyan);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: .8rem 2rem;
    border-radius: 25px;
    font-weight: 700;
    margin-top: 1rem;
}


footer {
    background-color: var(--Very-dark-violet);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}

footer > img {
    margin-bottom: 2rem;
    filter: invert(1) brightness(100);
}

footer div h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: .4rem;
    color: var(--Grayish-violet);
    font-size: 1rem;
    
}

footer .social-icons {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}


@media all and (min-width: 868px) {
    
    :root {
        --margin: 3rem 10rem;
    }

    header .left {
        gap: 5rem;
        align-items: flex-start;
    }


    header .left ul {
        display: flex !important;
    }

    header .hamburger-icon, header .close-icon {
        display: none;
    }

    header .right {
        display: flex !important;
        align-self: flex-start !important;
    }

    header .right button:last-child {
        padding: .8rem 3rem;
    }

    section {
        flex-direction: row-reverse;
        text-align: left;
        margin-top: 5rem;
    }

    section .illustration {
        flex: 1 1 100%;
    }

    section .content h1 {
        font-size: 3.5rem;
        line-height: 1.1;
    }

    section .content p {
        font-size: 1.2rem;
        line-height: 1.5;
        padding: 0 0;
    }

    section .content button {
        align-self: flex-start;
    }

    .shorten .main{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .shorten .main input {
        width: 80%;
        margin-bottom: 0;
    }

    .shorten .main button {
        margin-top: 0;
        padding: .8rem 3rem;
    }

    .statistics {
        margin-top: 0;
    }

    .statistics h1 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-top: 2rem;
    }

    .statistics p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 5rem;
    }



    .statistics .info-group {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start !important;
        gap: 3rem;
        margin-bottom: 5rem;; 
    }
    

    .statistics .info-group .info {
        font-size: 1rem;
        align-items: flex-start;
        padding: 0 2rem;
        max-width: 20rem;
    }

    .statistics .info-group .info:nth-child(2)
    {
        margin-top: 4rem;
    }

    .statistics .info-group .info:last-child {
        margin-top: 8rem;
    }

    .statistics .info-group .info p {
        font-size: 1rem;
        padding: 0 .1rem !important;
        text-align: left;
    }

    .statistics .info-group .info:first-child::after {
        content: '';
        background: var(--Cyan);
        position: absolute;
        width: 10px;
        height: 65px;
        right: -12%;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(90deg);

    }



    .statistics .info-group .info:nth-child(2)::after {
        content: '';
        background: var(--Cyan);
        position: absolute;
        width: 10px;
        height: 65px;
        right: -12%;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(90deg);

    }

    .boost h1 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 2rem;
    }

    .boost button {
        padding: .8rem 3rem;
        font-size: 1.2rem;
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    footer ul {
        align-items: flex-start;
    }

    footer div h3 {
        text-align: left;
    }

    footer > img {
        margin-right: 7rem;
    }

    .shorten .link {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .shorten .link hr {
        display: none;
    }

    .shorten .link .link-text {
        justify-self: flex-end;
        margin-left: auto;
        margin-top: 0;
    }

    .shorten .link h4:first-child {
        margin-top: 0;
    }

    .shorten .link button {
        width: 8rem;
        margin-left: 1rem;
        padding: .4rem .1rem !important;
        margin-top: 0;
    }

}

@media all and (max-width: 400px)
{


    section .content p {
        font-size: 1rem;
        line-height: 1.5;
        padding: 0 0;
    }

    .shorten .main button {
        margin-top: 0;
        padding: .8rem 1rem;
    }

    .shorten input {
        font-size: .8rem;
    }

    .statistics .info-group .info {
        font-size: .8rem;
    }

    .statistics .info-group .info p {
        font-size: .9rem;
        padding: 0 .1rem !important;
    }

    .boost {
        text-align: center;
    }
}